<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <properties resource="config.properties"/>
    <typeAliases>
        <typeAlias type="com.solvd.navigator.domain.Country" alias="Country"/>
        <typeAlias type="com.solvd.navigator.domain.Region" alias="Region"/>
        <typeAlias type="com.solvd.navigator.domain.City" alias="City"/>
        <typeAlias type="com.solvd.navigator.domain.District" alias="District"/>
        <typeAlias type="com.solvd.navigator.domain.Street" alias="Street"/>
        <typeAlias type="com.solvd.navigator.domain.PointType" alias="PointType"/>
        <typeAlias type="com.solvd.navigator.domain.Point" alias="Point"/>
        <typeAlias type="com.solvd.navigator.domain.Transition" alias="Transition"/>

    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mapper/CountryMapper.xml"/>
        <mapper resource="mapper/CityMapper.xml"/>
        <mapper resource="mapper/DistrictMapper.xml"/>
        <mapper resource="mapper/PointMapper.xml"/>
        <mapper resource="mapper/PointTypeMapper.xml"/>
        <mapper resource="mapper/RegionMapper.xml"/>
        <mapper resource="mapper/TransitionMapper.xml"/>
        <mapper resource="mapper/StreetMapper.xml"/>
    </mappers>
</configuration>
