<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="config.properties"/>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mapper/CountryMapper.xml"/>
        <mapper resource="mapper/CityMapper.xml"/>
        <mapper resource="mapper/DistrictMapper.xml"/>
        <mapper resource="mapper/HouseMapper.xml"/>
        <mapper resource="mapper/PointMapper.xml"/>
        <mapper resource="mapper/PointPointsMapper.xml"/>
        <mapper resource="mapper/RegionMapper.xml"/>
        <mapper resource="mapper/CoordinateMapper.xml"/>
        <mapper resource="mapper/StreetMapper.xml"/>
    </mappers>
</configuration>