<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.solvd.navigator.persistence.CityRepository">

    <sql id="cityColumns">
        city.id as city_id,
        city.region_id as region_id,
        city.name as city_name
    </sql>

    <insert id="create" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
        insert into Cities(region_id, name) VALUES (#{region.id}, #{name});
    </insert>

    <select id="findAll" resultMap="CityResultMap">
        select
        <include refid="cityColumns"/>,
        <include refid="com.solvd.navigator.persistence.RegionRepository.regionColumns"/>
        from Cities city
        left join
        Regions region
        on city.region_id = region.id;
    </select>

    <select id="findById" parameterType="java.lang.Long" resultMap="CityResultMap">
        select
        <include refid="cityColumns"/>,
        <include refid="com.solvd.navigator.persistence.RegionRepository.regionColumns"/>
        from Cities city
        left join
        Regions region
        on city.region_id = region.id
        where
        city.id = #{id};
    </select>

    <update id="update" parameterType="City">
        update Cities set
        region_id = #{region.id},
        name = #{name}
        where id = #{id};
    </update>

    <delete id="delete">
        delete from Cities where id = #{id};
    </delete>

    <resultMap id="CityResultMap" type="com.solvd.navigator.domain.City" autoMapping="false">
        <id property="id" column="city_id"/>
        <result property="name" column="city_name"/>
        <association property="region" column="region_id"
                     resultMap="com.solvd.navigator.persistence.RegionRepository.RegionResultMap"/>
    </resultMap>
</mapper>
