<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.solvd.navigator.persistence.CoordinateRepository">

    <sql id="coordinateColumns">
        coo.id as coordinate_id,
        coo.latitude as latitude,
        coo.longitude as longitude
    </sql>

    <insert id="create" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO Coordinates(latitude, longitude) VALUES (#{latitude}, #{longitude});
    </insert>

    <select id="findAll" resultMap="CoordinateResultMap">
        select
        <include refid="coordinateColumns"/>
        from Coordinates coo;
    </select>

    <select id="findById" parameterType="java.lang.Long" resultMap="CoordinateResultMap">
        select
        <include refid="coordinateColumns"/>
        from Coordinates coo
        where coo.id = #{id};
    </select>

    <update id="update" parameterType="Coordinate">
        update Coordinates set
        latitude = #{latitude},
        longitude = #{longitude}
        where id = #{id};
    </update>

    <delete id="delete">
        delete from Coordinates where id = #{id};
    </delete>

    <resultMap id="CoordinateResultMap" type="com.solvd.navigator.domain.Coordinate" autoMapping="false">
        <id property="id" column="coordinate_id"/>
        <result property="latitude" column="latitude"/>
        <result property="longitude" column="longitude"/>
    </resultMap>

</mapper>
