<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.solvd.navigator.persistence.CountryRepository">

    <sql id="countryColumns">
        country.id as country_id,
        country.name as country_name
    </sql>

    <insert id="create" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
        insert into Countries
        (name)
        values (#{name});
    </insert>

    <select id="findAll" resultMap="CountryResultMap">
        select
        <include refid="countryColumns"/>
        from Countries country;
    </select>

    <select id="findById" parameterType="java.lang.Long" resultMap="CountryResultMap">
        select
        <include refid="countryColumns"/>
        from Countries country
        where country.id = #{id};
    </select>

    <update id="update" parameterType="Country">
        update Countries set
        name = #{name}
        where id = #{id};
    </update>

    <delete id="delete">
        delete from Countries where id = #{id};
    </delete>

    <resultMap id="CountryResultMap" type="Country" autoMapping="false">
        <id property="id" column="country_id"/>
        <result property="name" column="country_name"/>
    </resultMap>
</mapper>
