<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.solvd.navigator.persistence.PointRepository">

    <sql id="pointColumns">
        point.id as point_id,
        point.name as point_name,
        point.latitude as latitude,
        point.longitude as longitude,
        point.street_id as street_id,
        point.type_id as type_id,
        point.description as point_description
    </sql>

    <insert id="create" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
        insert into Points(name, latitude, longitude, street_id, type_id, description)
        values (#{name}, #{latitude}, #{longitude}, #{street.id} ,#{type.id}, #{description});
    </insert>

    <select id="findAll" resultMap="PointResultMap">
        select
        <include refid="pointColumns"/>,
        <include refid="com.solvd.navigator.persistence.StreetRepository.streetColumns"/>,
        <include refid="com.solvd.navigator.persistence.PointTypeRepository.pointTypeColumns"/>
        from Points point
        left join
        Streets street
        on point.street_id = street.id
        left join
        Point_types type
        on point.type_id = type.id;
    </select>

    <select id="findById" parameterType="java.lang.Long" resultMap="PointResultMap">
        select
        <include refid="pointColumns"/>,
        <include refid="com.solvd.navigator.persistence.StreetRepository.streetColumns"/>,
        <include refid="com.solvd.navigator.persistence.PointTypeRepository.pointTypeColumns"/>
        from Points point
        left join
        Streets street
        on point.street_id = street.id
        left join
        Point_types type
        on point.type_id = type.id
        where point.id = #{id};
    </select>

    <update id="update" parameterType="Point">
        update Points set
        name = #{name},
        latitude = #{latitude},
        longitude = #{longitude},
        street_id = #{street.id},
        type_id = #{type.id},
        description = #{description}
        where id = #{id};
    </update>

    <delete id="delete">
        delete from Points where id = #{id};
    </delete>

    <resultMap id="PointResultMap" type="com.solvd.navigator.domain.Point" autoMapping="false">
        <id property="id" column="point_id"/>
        <result property="name" column="point_name"/>
        <result property="latitude" column="latitude"/>
        <result property="longitude" column="longitude"/>
        <result property="description" column="point_description"/>
        <association property="street" column="street_id"
                     resultMap="com.solvd.navigator.persistence.StreetRepository.StreetResultMap"/>
        <association property="type" column="type_id"
                     resultMap="com.solvd.navigator.persistence.PointTypeRepository.PointTypeResultMap"/>

    </resultMap>
</mapper>
