<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.solvd.navigator.persistence.RegionRepository">

    <sql id="regionColumns">
        region.id as region_id,
        region.country_id as country_id,
        region.name as region_name
    </sql>

    <insert id="create" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
        insert into Regions(country_id, name) values (#{country.id}, #{name});
    </insert>

    <select id="findAll" resultMap="RegionResultMap">
        select
        <include refid="regionColumns"/>,
        <include refid="com.solvd.navigator.persistence.CountryRepository.countryColumns"/>
        from Regions region
        left join
        Countries country
        on region.country_id = country.id;
    </select>

    <select id="findById" parameterType="java.lang.Long" resultMap="RegionResultMap">
        select
        <include refid="regionColumns"/>,
        <include refid="com.solvd.navigator.persistence.CountryRepository.countryColumns"/>
        from Regions region
        left join
        Countries country
        on region.country_id = country.id
        where region.id = #{id};
    </select>

    <update id="update" parameterType="Region">
        update Regions set
        country_id = #{country.id},
        name = #{name}
        where id = #{id};
    </update>

    <delete id="delete">
        delete from Regions where id = #{id};
    </delete>

    <resultMap id="RegionResultMap" type="com.solvd.navigator.domain.Region" autoMapping="false">
        <id property="id" column="region_id"/>
        <result property="name" column="region_name"/>
        <association property="country" column="country_id"
                     resultMap="com.solvd.navigator.persistence.CountryRepository.CountryResultMap"/>
    </resultMap>
</mapper>
