<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.solvd.navigator.persistence.RegionRepository">

    <sql id="regionColumns">
        r.id as region_id,
        r.country_id as country_id,
        r.name as region_name
    </sql>

    <insert id="create" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO Regions(country_id, name) VALUES (#{country.id}, #{name});
    </insert>

    <select id="findAll" resultMap="RegionResultMap">
        select
        r.id as region_id,
        c.id as country_id,
        c.name as country_name,
        r.name as region_name,
        ci.id as city_id,
        ci.name as city_name,


                ТЕКСТ ТЕКСТ (STREETS DISTRICTS)

        h.id as house_id,
        h.number as house_number,
        h.block as house_block,
        h.number_of_entrances as house_entrance
        from Cities ci
        left join Districts d
        on ci.id = d.city_id
            ТАБЛИЦА СВЯЗКА УЛИЦЫ РАЙОНЫ
        left join Houses h
        on
        st.id = h.street_id;
    </select>

    <select id="findById" parameterType="java.lang.Long" resultMap="RegionResultMap">
        select
        <include refid="regionColumns"/>
        from Regions r
        where r.id = #{id};
    </select>

    <update id="update" parameterType="Region">
        update Regions set
        country_id = #{country.id},
        name = #{name}
        where id = #{id};
    </update>

    <delete id="delete">
        delete from Regions where id = #{id};
    </delete>

    <resultMap id="RegionResultMap" type="com.solvd.navigator.domain.Region" autoMapping="false">
        <id property="id" column="region_id"/>
        <result property="name" column="region_name"/>
        <association property="country" column="country_id"
                     resultMap="com.solvd.navigator.persistence.CountryRepository.CountryResultMap"/>
        <collection property="cities" javaType="java.util.ArrayList"
                    resultMap="com.solvd.navigator.persistence.CityRepository.CityResultMap"/>
    </resultMap>

</mapper>