<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.solvd.navigator.persistence.StreetRepository">

    <sql id="streetColumns">
        street.id as street_id,
        street.district_id as district_id,
        street.name as street_name
    </sql>

    <insert id="create" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
        insert into Streets(district_id, name) VALUES (#{district.id}, #{name});
    </insert>

    <select id="findAll" resultMap="StreetResultMap">
        select
        <include refid="streetColumns"/>,
        <include refid="com.solvd.navigator.persistence.DistrictRepository.districtColumns"/>
        from Streets street
        left join
        Districts district
        on street.district_id = district.id;
    </select>

    <select id="findById" parameterType="java.lang.Long" resultMap="StreetResultMap">
        select
        <include refid="streetColumns"/>
        from Streets street
        where street.id = #{id};
    </select>

    <update id="update" parameterType="Street">
        update Streets set
        name = #{name},
        district_id = #{district.id}
        where id = #{id};
    </update>

    <delete id="delete">
        delete from Streets where id = #{id};
    </delete>

    <resultMap id="StreetResultMap" type="com.solvd.navigator.domain.Street" autoMapping="false">
        <id property="id" column="street_id"/>
        <result property="name" column="street_name"/>
        <association property="district" column="district_id"
                     resultMap="com.solvd.navigator.persistence.DistrictRepository.DistrictResultMap"/>
    </resultMap>
</mapper>